### 세미콜론

- 파이썬은 문장의 마지막에 세미콜론을 생략해도 된다.

In [1]:
print('Hello World')
print('Hello World');

Hello World
Hello World

### 주석

- 실행시 무시되는 부분
- 설명을 작성하거나 특정 코드를 실행하지 않기위해 사용된다.
- 파이썬은 한줄 주석만 제공된다.

In [3]:
# print('Hello World')

### 문자열

- 파이썬에서는 문자열을 작은 따옴표(''), 큰 따옴표("")로 표현한다.
- ''' ''', "" """ : 입력한 것 그대로 기억하는 문자열
- 포멧 문자열 : 문자열 앞에 f를 붙혀주시면 변경되는 문자열을 사용할 수 있다.

In [6]:
a1 = "문자열"
a2 = "문자열"
print(a1)
print(a2)
print(type(a1))
print(type(a2))

문자열
문자열
<class 'str'>
<class 'str'>

In [8]:
a3 = '이름은 "홍길동" 입니다.'
a4 = "이름은 '홍길동' 입니다."
print(a3)
print(a4)

이름은 "홍길동" 입니다.
이름은 '홍길동' 입니다.

In [10]:
a5 = '''나이는 '30살' 이고 이름은 "홍길동" 입니다.'''
print(a5)

나이는 '30살' 이고 이름은 "홍길동" 입니다.

In [12]:
a6 = '''
    '동해물'과 "백두산"이
    마르고 닳도록
    하느님이 보우하사
    우리나라 만세
'''
print(a6)

    '동해물'과 "백두산"이
    마르고 닳도록
    하느님이 보우하사
    우리나라 만세

In [16]:
a10 = '홍길동'
a20 = 30

a30 = '이름은 ' + a10 + '이고 나이는 ' + str(a20) + '살 입니다.'
print(a30)

a40 = f'이름은 {a10}이고 나이는 {a20}살 입니다.'
print(a40)

이름은 홍길동이고 나이는 30살 입니다.
이름은 홍길동이고 나이는 30살 입니다.

### 출력문

In [17]:
# print : 지정된 값을 출력하고 밑으로 내려준다.
a1 = 10
print(a1)
print('문자열')

10
문자열

In [20]:
# end에 문자열을 넣어주면 밑으로 내리는 대신 그 문자열이 추가된다.
print(a1, end='_')
print('문자열')

10_문자열

In [24]:
# 셀 마지막에 변수, 값, 수식을 작성하게 되면 그 값을 출력해준다.
a1 = 100
a2 = 200
a1
a2

200

In [22]:
display(a1)
display(a2)

100

200